body {
    font-family: 'montserrat';
    margin: 0px;
    padding: 0px;
    background-color: #e3e3e3;
}
#searchbar {
    min-width: 98%;
    height: 30px;
    font-size: 20px;  
    background-color: #fafafa;  
}
#start {
    background-color: #232F3F;
    margin-bottom: 0px;
}
#ham {
    display: inline-block;
    width: 24px;
    margin-top: 0px;
    margin-bottom: 14px;
    margin-left: 7px;
}
#bglele {
    background-color: #E1E5E6;
    
}
#diconti{
    display: inline-block;
    width: 30px;
    margin-left: 4px;
}

#mainphoto {
    width: 120px;
    display: inline-block;    
    margin-left: 5px;
    margin-top: 4px;
    margin-bottom:  px;
    }
#cart {
    width: 45px;
    display: inline-block;    
    margin-bottom: 10px;
    margin-top: 2px;
    margin-right: 0px;
}
#login {
    display: inline-block;
    width: 35px;
    margin-left: 127px;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-top: 2px;
}
#location {
    margin-top: 0px;
    background-color: #364759;
    color: white;
    margin-bottom: 0px;
}
#product {
    background-color: white;
    margin-top: 2px;
    display: inline-block;
}
#details {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;
}
#demand {
    text-align: center;
}
#hello {
    font-weight: bold;
    color: #087C63;
}
#hello1 {
    color: #51A291;
    font-weight: 400;
}
#watchbutton {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #CC0D39;
    color: white;
    border: none;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
}
#cost {
    background-color: white;
    margin-top: 2px;
}
#mrp {
    margin-left: 69px;
    margin-top: 8px;
    font-weight: 250;
}
#deal {
    margin-left: 7px;
    margin-top: -13px;
    margin-bottom: 0px;
    font-weight: 250;
}
#red {
    font-size: 20px;
    font-weight: 310;
    margin-left: 3px;    
    color: #B02804;
}
#save {
    margin-left: 47px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-weight: 250;
}
#redd {
    font-size: 17px;
    font-weight: 310;
    margin-left: 3px;    
    color: #B02804;
}
#ordergod {
    background-color: white;
    margin-top: 3px;
    display: inline-block;
}
#order {
    background-color: #FFFFFF;
    margin-top: 37px;
    display: inline-block;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    
}
#delivery {
    color: #78B3BE;
    margin-left: 12px;
    margin-right: 12px;
}
#day {
    color: black;
    font-weight: bold;
}
#normaltxt {
    color: black;
}
#deliveryfast {
    margin-left: 12px;
    margin-right: 12px;
}
#dayfast {
    color: black;
    font-weight: bold;
}
#green {
    color: #117D11;
}
#texttt {
    margin-left: 12px;
    font-size: 18px;
}
#greenstock {
    color: #117D11;
    font-size: 18px;
    margin-left: 12px;
    margin-top: -10px;
    margin-bottom: 0pz;
}
#sele {
    margin-left: 12px;
    background-color: #F0F2F1;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    box-shadow: 0px 0px 3px black;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 6px;
    padding-right: 10px;
    font-size: 14px;
    margin-bottom: 22px;
}
#sele:hover {
    background-color: #EDFCFF;
    box-shadow: 1px 1px 3px #EDFCFF;
}
#addtocart {
    background-color: #FED813;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 115px;
    padding-right: 115px;
    border-radius: 20px;    
    font-size: 18px;
}
#buynow {
    background-color: #FFA41D;
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 125px;
    padding-right: 125px;
    border-radius: 20px;    
    font-size: 18px;
    margin-bottom: 15px;
}
#theend {
    background-color: #364759;
    margin-top: 3px;
    text-align: center;
    margin-bottom: 0px;    
}
#endofme {
    color: white;
    text-decoration: none;    
    display: inline-block;
    margin-bottom: 3px;
}
#allend {
    background-color: #232F3F;
    margin-top: 0px;
}
#amazonin {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 30px;
}
#yourorders {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 60px;
}
#amazonpay {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 30px;
}
#appdownload {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 85px;
}
#yourlists {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 30px;
}
#youraccount {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 103px;
}
#recentlyviewed {
        color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 30px;
}
#returns {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 57px;
}
#sell {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 30px;
}
#service {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 147px;
}